!!!
%html
  %head
    %meta{:charset => 'UTF-8'}
    %script{:src => 'jquery.tools.min.js'}
    %script{:src => 'overlay_script.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'standalone.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'overlay-basic.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'jquery-ui-1.10.3.custom.css' }
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'style.css' }
  %body
    %div{:id => 'triggers'}
      %img{:src => '3445879840_7ca4b491e9_m.jpg', :rel => '#mies1'}
    %div{:class => 'simple_overlay', :id => 'mies1'}
      %p
        this is frustrating
